div{
	font-size: 20px;
	color:red;
}


.main{
	width:50%;
	background-color:yellow;
	text-align:center;
	  margin: auto;

}



.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.main:after {
  content: "";
  display: table;
  clear: both;
}